.diaryHeadBlock {
  color: var(--color-text);
  padding-top: 15px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1 {
  font-size: 30px;
  color: #343a40;
}

.day {
  color: #868e96;
  font-size: 21px;
}

.toggleButton {
  background-color: transparent;
  font-size: 30px;
  border: none;
  outline: none;
  display: flex;
  align-items: end;
}
